@charset "UTF-8"; 
/* Estilo da tabela de Salário de Contribuição */
body {
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center
}

.header {
    background-color: #e4174a; /* Azul para os títulos principais */
    color: black;
}

.sub-header {
    background-color: #E0E6F0; /* Cinza claro para subtítulos */
    color: black;
}

.highlight{
    color: rgb(12, 221, 193); /* Destaca em vermelho as datas */
}

.right-align {
    text-align: right; /* Alinhamento à direita para valores */
}