@charset "UTF-8";
/* CSS "Cascade Style Sheet" ou "Folha de Estilo em Cascata" */
/* Quando uma mesma propriedadse é definida mais de uma vez, a última prevalece
reescrevendo a anteriormente declarada */
/* essa declaração abaixo, pinta o BODY de preto */
/* Seletor simples */
/*body { background-color: rgb(6, 74, 95); }
/* agora vamos testar a CASCATA do CSS */
/* primeiro o CSS pintou o BODY de preto, agora pntou de amarelo, a segunda definição,
ou seja a mais "profunda" na cascata prevaleceu */
h1 { font-size: 50px; }
h2 { font-size: 25px; }
h3 { font-size: 15px; }
h1 { text-transform: uppercase; }
h2 { text-transform: capitalize; }
/* seletor agrupado */
/* todos os elementos listados são igalmente afetados */
header, nav, aside, article, section, footer {
border: dashed 2px rgb(231, 17, 117);
background-color: rgba(11, 192, 56, 0.521);
}
/*article { background-color: aquamarine; }
/* pequena declaração para deixar o menu horizontal */
/* é uma das formas mais recorrentes de se fazer um MENU de navegação */
li { display: inline; }

/* parte da tabela 2 */
body {
    font-family: Arial, sans-serif;
}

.tb-02 {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
}

.tr-02 {
    border: solid 2px black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center
}

.header {
    background-color: #e4174a; /* Azul para os títulos principais */
    color: black;
}

.sub-header {
    background-color: #E0E6F0; /* Cinza claro para subtítulos */
    color: black;
}

.highlight{
    color: rgb(12, 221, 193); /* Destaca em vermelho as datas */
}

.right-align {
    text-align: right; /* Alinhamento à direita para valores */
}
table {
    background-color: rgba(143, 5, 56, 0.452);
}
/* faz parte da tabela 1 */
table,

tr,
td {
    border: solid 2px rgb(3, 3, 3);
    padding: 3px;
    color: black;
}

 th,
 #criado-por

{

    border: solid 2px rgb(247, 13, 215);

}
 /* faz parte da tabela 2 */
body {
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0f90ccad;
    color: white;
}

.highlight {
    background-color: #D9E2EC;
}

.red {
    color: red;
}

#teto-cotribuicao, #col-1-familia {
    width: 290px;
}

#valor-teto-contribuicao {
    background-color: white;
    color: black;
}